@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.bg-landing {
  background: url('./assets/images/background.PNG');
}
.allison-regular {
  font-family: "Allison", cursive;
  font-weight: 400;
  font-style: normal;
}
.zalando-sans-semiexpanded {
  font-family: "Zalando Sans SemiExpanded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.hurricane-regular {
  font-family: "Hurricane", cursive;
  font-weight: 400;
  font-style: normal;
}
.bg-landing {
  background: linear-gradient(180deg, #00041d, transparent);
}